# Hello Fulcra: Connecting and Retrieving Your Data

> This notebook is an introduction to accessing your data using the Fulcra 
Data API.

In [1]:
from fulcradata import FulcraAPI

fulcra = FulcraAPI()

In [2]:
fulcra.authorize()

In [3]:
df = fulcra.time_series_grouped(
    start_time = "2023-07-01 04:00:00.000Z",
    end_time = "2023-07-10 04:00:00.000Z",
    metrics=["HeartRate", "DistanceTraveledOnFoot", "WalkingSpeed"]
)
df

,heart_rate,heart_rate_src,distance_on_foot,walking_speed,walking_speed_src
time,,,,,
2023-07-01 04:00:00+00:00,NaN,<NA>,NaN,NaN,<NA>
2023-07-01 04:01:00+00:00,NaN,<NA>,NaN,NaN,<NA>
2023-07-01 04:02:00+00:00,NaN,<NA>,NaN,NaN,<NA>
2023-07-01 04:03:00+00:00,NaN,<NA>,NaN,NaN,<NA>
2023-07-01 04:04:00+00:00,NaN,<NA>,NaN,NaN,<NA>
...,...,...,...,...,...
2023-07-10 03:55:00+00:00,NaN,<NA>,0.000000,NaN,<NA>
2023-07-10 03:56:00+00:00,NaN,<NA>,0.000856,NaN,<NA>
2023-07-10 03:57:00+00:00,NaN,<NA>,NaN,NaN,<NA>
2023-07-10 03:58:00+00:00,NaN,<NA>,NaN,NaN,<NA>
2023-07-10 03:59:00+00:00,NaN,<NA>,NaN,NaN,<NA>